@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');

body{
  margin: 0;
  padding: 0;
  font-family: 'Patrick Hand SC', cursive;
}
.App {
    text-align: center;
    margin: 0 auto;
    width: 50%;
  }


.field{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    color: black;
    text-shadow: 1px 2px rgba(245, 245, 245, 0.678);
    font-family: 'Patrick Hand SC', cursive;
    width: 500px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
  
  .field .label{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: lighter;
  }

.is-warning{
      margin: 0 auto;
      width: 500px;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .is-dark{
      height: 60px;
  }

.is-primary{
    margin-top: 10px;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
}

  p, .navbar-item{
      font-size: 30px;
  }


  /*Sign Up*/

  .Logbox{
    border-radius: 8px;
    background-image: url('https://images.pexels.com/photos/264635/pexels-photo-264635.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 500px;
    height: auto;
    padding: 40px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
   
  }


.fields{
  color: black;
  text-shadow: 1px 2px rgba(245, 245, 245, 0.678);
  font-family: 'Patrick Hand SC', cursive;
  
}

.fields label{
  font-size: 25px;
  padding: 0;
  font-weight: lighter;
} 

.social{
  margin-right: 20px;
  margin-top: 20px;
}

.fa-facebook-f, .fa-google, .fa-twitter{
  margin-right: 10px;
}

.is-link{
  margin-right: 30px;
}

.is-info{
  margin-left: 30px;
}
section{
  margin: 20px;
  /* background-color: rgba(100, 148, 237, 0.397); */
}



